.CategoryContainer {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: baseline;
    border-radius: 1rem;
    background-color: #2d2d2d;
    width: 100%;
    height: 500px;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.25);
}

.CategoryHeader {
    font-size: 1.5rem;
    margin-top: 1rem;
    border-bottom: 1px solid #ff4081;
    color: #ff4081;
}

.Category {
    width: 90%;
}

.DropdownContainer {
    margin: 20px 0;
}

.CategoryTitle {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.CategoryInput {
    text-align: center;
    background-color: transparent;
    margin-left: 1rem;
    padding-bottom: 0;
    border: 0;
    border-bottom: 1px solid #fff ;
    box-shadow: none;
}

.CategoryInput:focus {
    width: 100%;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #ff4081;
    color: #FFF;
    box-shadow: none;
}

.ToggleButton {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.Row {
   margin-bottom: 1rem;
}

.Row:hover {
    color: #ff4081;
 }
 

.ToggleButton:hover {
    color: #ff4081; /* Optional: Change hover color */
}


.CategoryText {
    font-size: 1rem !important;
    font-weight: bold;
  }

  
  @media (min-width: 1200px) { /* Large screens */
    .CategoryText {
      font-size: 3.5rem;
    }
  }