/* Task Detail Container */
.TaskDetailContainer {
  width: 80%;
  padding: 0;
}

.TaskCard {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  color: #fff;
}

.TaskLoader {
  color: #fff;
}

/* Priority Styles */
.Priority {
  font-size: 16px;
  font-weight: bold;
}

.PriorityHigh {
  color: red;
}


/* Category */
.Category {
  font-size: 14px;
}

/* Task Title */
.TaskTitle {
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Due Date & Status */
.DueDate {
  font-size: 16px;
}

.Status {
  font-size: 16px;
  font-weight: 500;
}

.ToggleStatusButton {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  box-shadow: none !important;
}

/* Description */
.Description {
  font-size: 16px;
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
}

/* File Upload Section */
.AddFile {
  margin-top: 1rem;
  font-size: 16px;
  border-color: #ff4081;
  color: #ff4081;
}

.AddFile:hover {
  font-size: 16px;
  border-color: #fff;
  color: #ff4081;
  background-color: transparent;
}

.TaskFile {
    font-size: 2.5rem;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis; 
}

.TaskFileText {
    font-size: 13px;
}

.TaskEditButton {
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    transition: color ease-in-out 0.3s;
}

.TaskEditButton:hover{
    color: #ff4081;
    transition: color ease-in-out 0.3s;
}
.TaskFileDeleteButton {
    color: #ff4081;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    transition: color ease-in-out 0.3s;
}

.TaskFileDeleteButton:hover {
    color: #fff;
    transition: color ease-in-out 0.3s;
}

.Row {
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#scrolltaskfiles::-webkit-scrollbar {
    display: none;
}

.TaskRow {
    display: flex;
    flex-wrap: wrap;
}

.Col {
    overflow: hidden; 
    max-width: 100px;
}

@media screen and (max-width: 768px) {
  .TaskDetailContainer {
    width: 100%;
  }
}
