.Container {
    width: 100%;
}

.Task {
    font-size: 16px;
    margin: 1rem 0 0 0;
}
.RowTitle{
    width: 100%;
    color: #FF4081;
    border-bottom: 1px solid #FF4081;
    
}

.Row {
    width: 100%;
    border-bottom: 1px solid #fff;
    transition: 0.3s;
}

.Row:hover{
    border-color: #FF4081;
    
} 
